<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <nav>
        <ul style="list-style:none;">
            <span th:if="${logInId}!=null">
                <li style="display:inline-block; text-align:center;">
                <a th:href="@{/logInHome(logInId = ${logInId})}" style="text-decoration: none; color:inherit; ">
                    <h2>
                        축구 이야기
                    </h2>
                </a>
            </li>
            </span>
            <span th:unless="${logInId}!=null">
                <li style="display:inline-block; text-align:center;">
                <a href="/" style="text-decoration: none; color:inherit; ">
                    <h2>
                        축구 이야기
                    </h2>
                </a>
            </li>
            </span>
            <span th:if="${logInId}!=null">
                <li style="display:inline-block; text-align:right;">
                    <a th:href="@{/post/list(logInId = ${logInId})}" style="text-decoration: none; color:inherit; ">
                        <h4>목록으로</h4>
                    </a>
                </li>
            </span>
            <span th:unless="${logInId}!=null">
                <li style="display:inline-block; text-align:right;">
                    <a href="/post/list" style="text-decoration: none; color:inherit; ">
                        <h4>목록으로</h4>
                    </a>
                </li>
            </span>
        </ul>
    </nav>
    <hr style="border-line:2px">
</header>
<section>
    <script type="text/javascript">

        alert("수정 권한이 없거나 로그인 하지 않았습니다.");

    </script>
    <div th:each="content : ${content}">
        <h4 th:text="${content.title}"></h4>
        <textarea
                style=" lows:30; resize: none; border: solid 1px gray; width: 99%; height:370px; border-radius:5px; margin-top: 5px; margin-left: 5px;"
                th:text="${content.content}">
            </textarea>
        <div style="display:inline-block; float : left;">
            <button style="width : 200px; height : 30px; color : black; border-radius: 5px;" disabled="disabled;"
                    th:text="'작성자 : ' + ${content.writer}"></button>
            <button style="width : 200px; height : 30px; color : black; border-radius: 5px;" disabled="disabled;"
                    th:text="'등록일(수정일) : ' + ${content.regDate}"></button>
        </div>
        <div style="float : right;">
                <span th:if="${logInId}!=null">
                    <a th:href="@{/post/modifyPost(contentNumber = ${content.contentNumber}, logInId=${logInId})}"
                       style="text-decoration: none; color:inherit;">
                        <h4>[수정]</h4>
                    </a>
                </span>
            <span th:unless="${logInId}!=null">
                    <a th:href="@{/post/modifyPost(contentNumber = ${content.contentNumber})}"
                       style="text-decoration: none; color:inherit;">
                        <h4>[수정]</h4>
                    </a>
                </span>
        </div>
    </div>
</section>
</body>
</html>
